
<div class="row">
    <div class="col-md-6"> 
        <section class="panel panel-default">
            <div class="panel-heading">
                <strong>
                    <i class="fa fa-ellipsis-v dashboard-panel-icon"></i><i class="fa fa-ellipsis-v dashboard-panel-icon"></i><i class="fa fa-ellipsis-v dashboard-panel-icon"></i>
                    <span data-i18n="Data">Stuff</span>
                    <i class="fa fa-refresh widget-refresh" ng-click="dashboard.updateBar()" ></i>
                </strong>
               
            </div>
            asdad
        </section>
    </div>
    <div class="col-md-6">
        <section class="panel panel-default">
            <div class="panel-heading">
                <strong>
                    <i class="fa fa-ellipsis-v dashboard-panel-icon"></i><i class="fa fa-ellipsis-v dashboard-panel-icon"></i><i class="fa fa-ellipsis-v dashboard-panel-icon"></i>
                    <span data-i18n="Data">More stuff</span>
                    <i class="fa fa-refresh widget-refresh" ng-click="dashboard.updatePie()" ></i>
                </strong>
            </div>
            adadaad
            
        </section>
    </div>
</div>
